{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h3>Witaj!</h3>
    <p>Jeśli chcesz wystawić przedmiot wejdź pod ten <a href="{{ url("my_sale_add") }}">link</a></p>
    <p>Jeśli chcesz zobaczyć swoją sprzedaż wejdź pod ten <a href="{{ url("my_sale_index") }}">link</a></p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
